.bigBox{
    display:flex;
    
    justify-content: space-between;
    
}

#fullContainer{
    display:flex;
    flex-direction: column;
    
    position: relative;
    background:
    linear-gradient(27deg, #151515 2px, transparent 2px) 0 2px,
    linear-gradient(207deg, #151515 2px, transparent 2px) 5px 0px,
    linear-gradient(27deg, #222 2px, transparent 2px) 0px 5px,
    linear-gradient(207deg, #222 2px, transparent 2px) 5px 2px,
    linear-gradient(90deg, #1b1b1b 5px, transparent 5px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-image: radial-gradient(rgb(2, 22, 53),black);
    background-size: 5px 5px;;
    border-radius: 5px;
    border: 2px rgba(87,232,246,.8) solid;
    background-size: 1%;
    padding-top: 0;
}




#categories{
    background-image: linear-gradient(rgba(17, 17, 17, 0.692),rgba(10, 10, 10, 0.418)),url(Images/metalsheet.jpg);
    border: outset lightsteelblue;
    padding: 10px;
}

.smallBox{
    display:flex;
    border: inset lightsteelblue;
    width: 14vw;
    height: 14vh;
    color: white;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(lightsteelblue,slategray);
}

#questions {
   padding: 10px; 
}

#column1 {
    padding-left: 5px;
}
#column6 {
    padding-right: 5px;
}

#column{
    display: flex;
    flex-direction: column;
}

.question{
    cursor: pointer;
    outline:2px solid rgb(74, 128, 141);
    width: 14vw;
    height: 14vh;
    color: grey;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#frameTopLeft {
    position: absolute;
    top: -20px;
    left: -3px;
}
#frameTopCenter {
    position: absolute;
    top: -10px;
    left: 14rem;

}
#frameTopRight {
    position: absolute;
    top: -20px;
    right: -3px;
}

#frameBottomLeft {
    position: absolute;
    bottom: -20px;
    left: -3px;
    
}
#frameBottomCenter {
    position: absolute;
    bottom: -20px;
    left: 14rem;
}
#frameBottomRight {
    position: absolute;
    bottom: -20px;
    right: -3px;
}

.questionModal {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 400ms ease-in-out;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    background:
    linear-gradient(27deg, #151515 2px, transparent 2px) 0 2px,
    linear-gradient(207deg, #151515 2px, transparent 2px) 5px 0px,
    linear-gradient(27deg, #222 2px, transparent 2px) 0px 5px,
    linear-gradient(207deg, #222 2px, transparent 2px) 5px 2px,
    linear-gradient(90deg, #1b1b1b 5px, transparent 5px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-image: radial-gradient(rgb(0, 37, 0),black);
    background-size: 5px 5px;;
    width: 700px;
    max-width: 80%;
    height: 700px;
    max-height: 80%;
    color: rgb(76, 219, 9);
    text-align: center;
}


.questionModal.active {
    transform: translate(-50%, -50%) scale(1);

}

.questionHead {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    background-image: linear-gradient(rgba(17, 17, 17, 0.692),rgba(10, 10, 10, 0.418)),url(Images/metalsheet.jpg);
    z-index: 11;

}

.questionHead .questionCateg {
    font-size: 1.25rem;
    font-weight: bold;
}

.questionHead .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: rgb(76, 219, 9);
    font-size: 2rem;
    font-weight: bold;

}

.questionFull {
    padding: 10px 15px;
    height: 550px;
    max-height: 80%;
    border: rgb(106, 253, 7) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(60% 60%, rgba(0, 0, 0, 0) 80%,rgba(0, 255, 0, 0.226));

}

.questionFoot {
    background-image: linear-gradient(rgba(17, 17, 17, 0.692),rgba(10, 10, 10, 0.418)),url(Images/metalsheet.jpg);
    height: 72px;
    max-height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.resultButton {
    height: 3vh;
    width: 5vh;

}

#overlay{
    position: fixed;
    opacity:0;
    transition: 400ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(21, 68, 42, 0.719);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#catMod {
    font-size: 2.0vw;
}
#questMod {
    font-size: max(2.8vw);
    
}

#questPoints {
    font-size: max(2.0vw);
    font-weight: bold;
}

#nextRoundBtn {
    position: absolute;
    right: 33.5%;
    bottom: 38%;
    height: 30vw;
    width: 35vw;
    max-width: 33%;
    max-height: 24%;
    visibility: hidden;
}

#imgSource {
    max-width: 50%;
    max-height: 50%;

}

#impImage {
    max-width: 50%;
    max-height: 50%;
}