@font-face {
    font-family: ITC;
    src: url("Fonts/Conduit ITC Bold/Conduit\ ITC\ Bold.otf");
}


.bigBox{
    display:flex;
    
    justify-content: space-between;
    font-family: ITC, sans-serif;
}

.backdrop {
    background-image: url("Images/backdrop.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 90vh;
    min-width: 90vw;
}
#homeBack {
    background-image: url(Images/40kwallpaper.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    
    display: flex;
    justify-content: center;
    margin-top: 2%;
    position: relative;
    
}
#firstRound {
    margin-top: 8%;
    height: 10vw;
    width: 20vw;
    border:5px inset rgb(164, 237, 255);
    font-size: 4vw;
    color: rgb(36, 51, 56);
    
}
#firstRound:hover {
    background-color: rgb(196, 247, 247);
    cursor: pointer;
}
.title {
    position: absolute;
    color: rgb(137, 202, 255);
    text-shadow: 3px 1px rgb(55, 56, 56), 0px 0px 10px rgb(129, 245, 235);
    font-weight: bold;
    font-size: 5vw;
    right: 34vw;
    top: 2vw;
}
#finalJ {
    font-size: 4vw;
    right: 30vw;
}


#fullContainer{
    display:flex;
    flex-direction: column;
    
    position: relative;
    background-image: url("Images/backdrop.jpg");
    
    border-radius: 5px;
    border: 2px rgba(87,232,246,.8) solid;
    background-size: 55%;
    padding-top: 0;
}




#categories{
    background-image: linear-gradient(rgba(17, 17, 17, 0.692),rgba(10, 10, 10, 0.418)),url(Images/metalsheet.jpg);
    border: outset lightsteelblue;
    padding: 10px;
}

.smallBox{
    display:flex;
    border: inset lightsteelblue;
    width: 14vw;
    height: 14vh;
    color: white;
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    background-image: url("Images/backdrop.jpg");
    background-size: 150%;    
    font-size: max(1.7vw);
    text-align: center;
}

#cat1 {
    
}
#cat2 {
    
}
#cat3 {
    
}
#cat4 {
    
}
#cat5 {
    
}
#cat6 {
    
}



#questions {
   padding: 10px; 
}

#column1 {
    padding-left: 5px;
}
#column6 {
    padding-right: 5px;
}

#column{
    display: flex;
    flex-direction: column;
}

.question{
    cursor: pointer;
    outline:2px solid rgb(74, 128, 141);
    width: 14vw;
    height: 14vh;
    color: rgb(42, 53, 70);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    
}

#frameTopLeft {
    position: absolute;
    top: -20px;
    left: -3px;
}
#frameTopCenter {
    position: absolute;
    top: -10px;
    left: 14rem;

}
#frameTopRight {
    position: absolute;
    top: -20px;
    right: -3px;
}

#frameBottomLeft {
    position: absolute;
    bottom: -29px;
    left: -3px;
    
}
#frameBottomCenter {
    position: absolute;
    bottom: -29px;
    left: 14rem;
}
#frameBottomRight {
    position: absolute;
    bottom: -29px;
    right: -3px;
}

.questionModal {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 400ms ease-in-out;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    background:
    linear-gradient(27deg, #151515 2px, transparent 2px) 0 2px,
    linear-gradient(207deg, #151515 2px, transparent 2px) 5px 0px,
    linear-gradient(27deg, #222 2px, transparent 2px) 0px 5px,
    linear-gradient(207deg, #222 2px, transparent 2px) 5px 2px,
    linear-gradient(90deg, #1b1b1b 5px, transparent 5px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-image: radial-gradient(rgb(0, 37, 0),black);
    background-size: 5px 5px;;
    width: 700px;
    max-width: 80%;
    height: 700px;
    max-height: 80%;
    color: rgb(76, 219, 9);
    text-align: center;
}


.questionModal.active {
    transform: translate(-50%, -50%) scale(1);

}

.questionHead {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 3px solid black;
    background-image: linear-gradient(rgba(17, 17, 17, 0.692),rgba(10, 10, 10, 0.418)),url(Images/metalsheet.jpg);
    z-index: 11;
    padding-top: 3%;
}

.questionHead .questionCateg {
    font-size: 1.25rem;
    font-weight: bold;
    
}

.questionHead .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: rgb(76, 219, 9);
    font-size: 2rem;
    font-weight: bold;

}

.questionFull {
    padding: 10px 15px;
    height: 550px;
    max-height: 80%;
    border: rgb(106, 253, 7) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(60% 60%, rgba(0, 0, 0, 0) 80%,rgba(0, 255, 0, 0.226));

}

.questionFoot {
    background-image: linear-gradient(rgba(17, 17, 17, 0.692),rgba(10, 10, 10, 0.418)),url(Images/metalsheet.jpg);
    height: 72px;
    max-height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.resultButton {
    height: 4vh;
    width: fit-content;
    font-size: 110%;
    text-align: center;
    cursor: pointer;
    outline:2px solid rgb(74, 128, 141);
    color: rgb(42, 53, 70);
    font-weight: bold;
}

#overlay{
    position: fixed;
    opacity:0;
    transition: 400ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(21, 68, 42, 0.719);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#catMod {
    font-size: 2.0vw;
    color: rgb(211, 234, 255);
    text-shadow: 1px 2px 0px rgb(75, 84, 87), 2px 2px 10px rgb(193, 243, 255);
}
#questMod {
    font-size: max(2.8vw);
    
}

#questPoints {
    font-size: max(2.0vw);
    font-weight: bold;
    color: rgb(211, 234, 255);
    text-shadow: 1px 2px 0px rgb(75, 84, 87), 2px 2px 10px rgb(193, 243, 255);

}

#nextRoundBtn {
    position: absolute;
    right: 33.5%;
    bottom: 38%;
    height: 30vw;
    width: 35vw;
    max-width: 33%;
    max-height: 24%;
    visibility: hidden;
    border:5px inset rgb(164, 237, 255);
    font-size: 4vw;
    color: rgb(36, 51, 56);
}

#imgSource {
    max-width: 50%;
    max-height: 50%;

}

#impImage {
    max-width: 50%;
    max-height: 50%;
}

#endButton {
    position: absolute;
    
    visibility: hidden;
    height: 4vh;
    width: fit-content;
    font-size: 110%;
    text-align: center;
    cursor: pointer;
    outline:2px solid rgb(74, 128, 141);
    color: rgb(42, 53, 70);
    font-weight: bold;

}